.card-pricing__container{
	position: absolute;
	bottom: 0px;
	left: 0;

	display: flex;
	flex-direction: column;
	gap: 3px;

	width: 100%;
	height: 70px;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 10px;
	color: #faebd7;
	font-family: Calibri;
}

.card-pricing__value {
	display: flex;
	justify-content: space-between;
}

.card-pricing__value__console {
	display: flex;
	gap: 8px;
}

.card-pricing__value__console > span {
	font-weight: bolder;
	color: #00ffff;
}
